# Dependencies
node_modules

# Env files
.env*

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build outputs
.next
out
build
dist

# TypeScript
*.tsbuildinfo

# Debug
*.log

# Misc
.DS_Store
*.pem

.claude
